.vs
cStandardLibrary/cStandardLibrary.sln
cStandardLibrary/cStandardLibrary/main.c
cStandardLibrary/cStandardLibrary/cStandardLibrary.vcxproj
cStandardLibrary/cStandardLibrary/cStandardLibrary.vcxproj.filters
cStandardLibrary/cStandardLibrary/cStandardLibrary.vcxproj.user


